:root {
  --color-bg: #192a51;
  --color-primary: #d5c6e0;
  --color-accent: #aaa1c8;
  --color-accent2: #f5e6e8;
  --user-speaking: rgb(61, 158, 96);
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--color-bg);
  color: white;
}

@keyframes wait {
  0%,
  100% {
    content: "\00B7";
  }
  33% {
    content: "\00B7\00B7";
  }
  66% {
    content: "\00B7\00B7\00B7";
  }
}
