@font-face {
  font-family: LiberationMono;
  src: url("./assets/fonts/LiberationMono-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: LiberationMono;
  src: url("./assets/fonts/LiberationMono-Italic.ttf") format("truetype");
  font-display: block;
  font-style: italic;
}

@font-face {
  font-family: LiberationMono;
  src: url("./assets/fonts/LiberationMono-Bold.ttf") format("truetype");
  font-display: block;
  font-weight: bold;
}

@font-face {
  font-family: LiberationMono;
  src: url("./assets/fonts/LiberationMono-BoldItalic.ttf") format("truetype");
  font-display: block;
  font-weight: bold;
  font-style: italic;
}

:root {
  --color-bg: #192a51;
  --color-primary: #d5c6e0;
  --color-accent: #aaa1c8;
  --color-accent2: #f5e6e8;
  --user-speaking: rgb(61, 158, 96);
}

body {
  font-family: LiberationMono, "Courier New", Courier, monospace;
  background-color: var(--color-bg);
  color: white;
  margin: 0;
  padding: 0;
}

@keyframes wait {
  0%,
  100% {
    content: "\00B7";
  }
  33% {
    content: "\00B7\00B7";
  }
  66% {
    content: "\00B7\00B7\00B7";
  }
}

button {
  background-color: #000000aa;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0.5em 0.75em;
  font-size: large;

  transition: all 0.1s linear;
}

button:disabled {
  opacity: 0.5;
}

button:enabled:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
