:root {
  --color-bg: #192a51;
}

body {
  font-family: LiberationMono, "Courier New", Courier, monospace;
  background-color: var(--color-bg);
  text-align: justify;
  color: white;
  margin: clamp(1rem, 10rem, 10vw);
}

/* body > * {
  margin: auto;
  width: 100%;
} */

h1 {
  filter: drop-shadow(0 5px black);
}
